.body{

    
    
    background-color: white;
    
}


.grid-container{

    display: grid;
    grid-template-areas:
    "header header header "
    "nav main main"
    "footer footer footer";
     
    
    
    }
.header{

    grid-area: header;
    background-color: rgb(7, 16, 196);
    text-align: center;
     color: white;
    padding: 20px;
}


.card{


display: flex;
flex-direction: column;
align-items: center;
}



.nav{
    grid-area: nav;
    background-color: rgb(174, 174, 177);
    
}

main{

    grid-area: main;
    background-color: aqua;
   
}

.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px 20px;
    padding: 100px;
}

.footer{


    grid-area: footer;
    background-color: black;
    color: white;
    text-align: center;
    padding: 30px;
    position: static;
}


nav{

    grid-area: nav;
}


li{

    line-height: 1.6;
    padding: 20px;
    list-style: none;
}

li:hover{

    
    background-color: azure;
  
}

